
/* Universal Rules */

html {
  font-size: 18px;
}

.container {
  max-width: 960px;
  margin: auto;
}

body {
  font-family: Helvetica;
}

/* Header Rules */

header {
  padding-top: 2rem;
  height: 31rem;
  background-image: url(../images/background-glasses.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Navbar Rules */

nav {
  padding: 1rem 1rem;
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav-item {
  margin-right: 1rem;
}

.nav-button {

  padding: 0 1rem;
}

a {
  color: white;
  text-decoration: none;
}

/* Banner Rules */

.banner {
  background-color: white;
  width: auto;
  display: inline-block;
  margin-top: 10rem;
}

.banner h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 5rem;
}
